<h1><a href="#enter"><img src="../../images/logo.svg" alt="logo and back to welcome page"></a></h1>
<h2><a href="#main" class="clip">skip to main content</a></h2>
<ul>
  <li>
      <a href="https://github.com/Theartbug" target="_blank" rel="noopener noreferrer">
          <span class="fa fa-github fa-3x"></span>
          <span class="clip">Github</span>
      </a>
  </li>
  <li>
      <a href="https://www.linkedin.com/in/graceprovost/" target="_blank" rel="noopener noreferrer">
          <span class="fa fa-linkedin fa-3x"></span>
          <span class="clip">LinkedIn</span>
      </a>
  </li>
  <li>
      <a href="mailto:grace.g.provost@gmail.com">
          <span class="fa fa-envelope-square fa-3x"></span>
          <span class="clip">Email</span>
      </a>
  </li>
</ul>