$dark-font: #EEE5E9;
$dark-background: #080705;
$dark-headfoot: #C4560D;
$dark-box: #19180A;

$header-font: 'Playfair Display', serif;
$content-padding: .5rem 1rem;


/* RESPONSIVE TYPOGRAPHY VALUES, SPECIFY WITHOUT PX
   https://www.smashingmagazine.com/2016/05/fluid-typography/ */
$minFontVal: 16;
$maxFontVal: 20;
$minViewportVal: 480;
$maxViewportVal: 1200;

$minFontSize: $(minFontVal)px;
$maxFontSize: $(maxFontVal)px;
$minViewportSize: $(minViewportVal)px;
$maxViewportSize: $(maxViewportVal)px;

$fluidFontSize: calc($minFontSize + ($maxFontVal - $minFontVal) * (100vw - $minViewportSize) / ($maxViewportVal - $minViewportVal));