<picture id="enter">
    <source media="(min-width: 1550px)" srcset="../../images/welcome/enter_xlarge.jpg, ../../images/welcome/enter_xlarge@2x.jpg 2x">
    <source media="(min-width: 1280px)" srcset="../../images/welcome/enter_large.jpg, ../../images/welcome/enter_large@2x.jpg 2x">
    <source media="(min-width: 900px)" srcset="../../images/welcome/enter_medium.jpg, ../../images/welcome/enter_medium@2x.jpg 2x">
      <source media="(min-width: 600px)" srcset="../../images/welcome/enter_small.jpg, ../../images/welcome/enter_small@2x.jpg 2x">
    <img srcset="../../images/welcome/enter_mobile.jpg, ../../images/welcome/enter_mobile@2x.jpg 2x" alt="click image to enter">
    <figcaption>ENTER</figcaption>
</picture>