<picture>
    <source media="(min-width: 1550px)" srcset="../../images/enter_xlarge.jpg, ../../images/enter_xlarge@2x.jpg 2x">
    <source media="(min-width: 1280px)" srcset="../../images/enter_large.jpg, ../../images/enter_large@2x.jpg 2x">
    <source media="(min-width: 900px)" srcset="../../images/enter_medium.jpg, ../../images/enter_medium@2x.jpg 2x">
      <source media="(min-width: 600px)" srcset="../../images/enter_small.jpg, ../../images/enter_small@2x.jpg 2x">
    <img srcset="../../images/enter_mobile.jpg, ../../images/enter_mobile@2x.jpg 2x" alt="Castle by the ocean">
</picture>